/* common css here */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
span,
a,
i,
input,
form,
.btn,
.navbar,
.navbar-brand,
textarea {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  padding: 25px 72px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #ffffff;
}


.btn:hover {
  background: #753d9d;
  border: 1px solid #753d9d;


}


/* common css end here */



/* nav section start here */
nav {
  position: absolute !important;
  z-index: 3;
  width: 100%;
  top: 60px;
}


nav .navbar-nav {
  column-gap: 20px;
}


nav .navbar-nav .nav-item .nav-link {
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
}


nav .navbar-nav .nav-item .nav-link:hover {
  color: #753d9d;
}


nav .navbar-nav .nav-item .active {
  color: #753d9d;
}


/* nav section start here */



/*  banner section start here */
#banner_part {
  background: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 318px 0 184px;
  position: relative;
  z-index: 2;
}

#banner_part::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(39, 32, 53, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


#banner_part .text_part {
  text-align: center;

}

#banner_part .text_part h1 {
  font-size: 70px;
  font-weight: 800;
  color: #ffffff;
}

#banner_part .text_part h1 span {
  color: #753d9d;
}


#banner_part .text_part p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  width: 898px;
  margin: 44px auto 62px;
}

#banner_part .text_part .btn {
  padding: 25px 72px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #ffffff;
}


#banner_part .text_part .btn:hover {
  background: #753d9d;
  border: 1px solid #753d9d;


}

#banner_part .text_part .takebtn {
  margin-left: 30px;
}


/*  banner section end here */




/* creative section start here */
#creative_part {
  padding: 80px 0 75px;
}

#creative_part .creative_text h4 {
  font-size: 36px;
  text-transform: uppercase;
  color: #0d113d;
  font-weight: 600;
}

#creative_part .creative_text h4 .creative_text_h4_onePart {
  color: #753d9d;
}


#creative_part .creative_text h4 .creative_text_h4_twoPart {
  font-weight: 300;
}


#creative_part .creative_text p {
  margin: 45px 0 55px;
  font-size: 15px;
  color: #12143e;
  font-weight: 300;
}



#creative_part .creative_text .btn {
  color: #0d113d;
  border: 1px solid #0d113d;
  text-transform: uppercase;

}


#creative_part .creative_text .btn:hover {
  background: #753d9d;
  border: 1px solid #753d9d;
  color: #ffffff;

}


#creative_part .creative_image img {
  width: 100%;
}

#creative_part .creative_image {
  position: relative;
}

#creative_part .creative_image::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 17, 61, 0.5);
}


/* creative section end here */



/* feature section start here  */

#feature_part {
  padding: 64px 0;
  border-top: 2px solid #e0e0e0;
}

#feature_part .feature_contents .feature_content_logo_title {
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin-bottom: 31px;
}


#feature_part .feature_contents .feature_content_logo_title h4 {
  font-weight: 600;
  color: #0d113d;
  font-size: 21px;
  font-style: normal;
  line-height: 26px;

}



#feature_part .feature_contents p {
  font-weight: 400;
  font-size: 12px;
  color: #0d113d;
  font-style: normal;
  line-height: 26px;
  width: 356px;
}


/* feature section end here  */




/* slogan section start here */
#slogan_part {
  background: url(../images/sloganCoverPic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 104px 0 95px;
  margin-bottom: 63px;
  position: relative;
  z-index: 2;
}

#slogan_part::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(50, 41, 57, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#slogan_part .text {
  text-align: center;
  height: 100%;
}

#slogan_part .text h3 {
  font-weight: 600;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 64px;
}

#slogan_part .text a {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  padding: 25px 96px 25px 70px;
  background: #753d9d;

}

/* slogan section end here */



/* service section start here */
#service_part {
  padding-bottom: 64px;
}

#service_part .container {
  position: relative;
}

#service_part .container::after {
  content: "";
  background: #753d9d;
  height: 38px;
  width: 5px;
  position: absolute;
  top: 0;

}



#service_part h2 {
  font-size: 26px;
  font-weight: 600;
  color: #0d113d;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-left: 16px;
  line-height: 1.5;

}

#service_part .image {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

#service_part .image img {
  width: 100%;
  height: 100%;
}

#service_part .image h4 {
  position: absolute;
  left: 25px;
  bottom: 28px;
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;

}

#service_part .image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

#service_part .lastImage {
  background-color: #0d113d;
  width: 100%;
  height: 100%;
  position: relative;
}

#service_part .row {
  row-gap: 24px;
}


#service_part .lastImage::before {
  content: "";
  background: #ffffff;
  width: 90px;
  height: 4px;
  position: absolute;
  right: 110px;
  bottom: 52px;

}

#service_part .lastImage .lasttext {
  position: absolute;
  left: 251px;
  bottom: 71px;
}

/* service section end here */



/* support section start here */
#support_part {
  padding: 70px 0;
  border-top: 2px solid #e0e0e0;
}

#support_part .image img {
  width: 50%;
}




#support_part .text h4 {
  color: #0d113d;
  font-size: 33px;
  font-weight: 800;
}

#support_part .text p {
  color: #0d113d;
  font-size: 15px;
  font-weight: 400;
  margin-top: 27px;
  width: 532px;
}


#support_part .text ul {
  margin-top: 68px;
}

#support_part .text ul li {
  margin-bottom: 28px;
}


#support_part .contact_part {
  padding: 46px 0;
  background: #753d9d;
}


#support_part .contact_part .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#support_part .contact_part h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
}


#support_part .contact_part a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding: 18px 70px;
  background-color: #753d9d;
  border: 1px solid bisque;
  text-transform: uppercase;
}







/* support section  end  here */